{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "babel-preset-solid"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}